[submodule "deps/bgfx"]
	path = deps/bgfx
	url = git@github.com:kochol/bgfx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = git@github.com:kochol/bimg.git
[submodule "deps/bx"]
	path = deps/bx
	url = git@github.com:kochol/bx.git
