[submodule "deps/bgfx"]
	path = deps/bgfx
	url = https://github.com/kochol/bgfx.git
[submodule "deps/bimg"]
	path = deps/bimg
	url = https://github.com/kochol/bimg.git
[submodule "deps/bx"]
	path = deps/bx
	url = https://github.com/kochol/bx.git
