*.ilk
*.cache
*.opensdf
*.suo
*.ik
*.ipch
*.res
*.rc
*.manifest
*.obj
*.tlog
*.lastbuildstate
*.unsuccessfulbuild
*.log
*.idb
*.pdb
*.sdf
*.user
Debug
bin
Docs/html
Libs/boost
media
/Libs/libboost_serialization-vc100-mt-1_44.lib
/Libs/libboost_serialization-vc100-mt-gd-1_44.lib
/Libs/libboost_serialization-vc80-mt-1_44.lib
/Libs/libboost_serialization-vc80-mt-gd-1_44.lib
/Libs/libboost_serialization-vc90-mt-1_44.lib
/Libs/libboost_serialization-vc90-mt-gd-1_44.lib
/plugins/Renderer_d3d9/Debug
/Debug/Renderer_d3d9.dll
/Debug/Renderer_d3d9.exp
/Debug/Renderer_d3d9.lib
/bin/debug/Renderer_d3d9.exp
/bin/debug/Renderer_d3d9.lib
.vs
*.pc

*.userprefs
