*.tlog
*.log
*.obj
/bin/Debug/KGE.lib
/bin/Debug/KGEWebPlayer.lib
/bin/Debug/Renderer_ogl.lib
/bin/Release/KGE.exp
/diagrams/kge.zargo~
/engine/InputMgr_OIS/Debug/vc100.idb
/engine/InputMgr_OIS/Debug/vc100.pdb
/engine/InputMgr_OIS/InputMgr_OIS.sdf
/engine/InputMgr_OIS/InputMgr_OIS.suo
/engine/InputMgr_OIS/InputMgr_OIS.vcxproj.user
/engine/InputMgr_OIS/Release/InputMgr_OIS.lastbuildstate
/engine/InputMgr_OIS/Release/InputMgr_OIS.log
/engine/InputMgr_OIS/Release/InputMgr_OIS.unsuccessfulbuild
/engine/InputMgr_OIS/Release/vc100.pdb
/engine/KGE10/Debug/KGE10.lastbuildstate
/engine/KGE10/Debug/KGE_manifest.rc
/engine/KGE10/Debug/vc100.idb
/engine/KGE10/KGE10.opensdf
/engine/KGE10/KGE10.sdf
/engine/KGE10/KGE10.suo
/engine/KGE10/KGE10.vcxproj.user
/engine/KGEAndroid/bin/KGEAndroid-debug-unaligned.apk
/engine/KGEAndroid/bin/KGEAndroid-debug-unaligned.apk.d
/engine/KGEAndroid/bin/KGEAndroid-debug.apk
/engine/KGEAndroid/bin/KGEAndroid.ap_
/engine/KGEAndroid/bin/KGEAndroid.ap_.d
/engine/KGEAndroid/bin/build.prop
/engine/KGEAndroid/bin/classes.dex
/engine/KGEAndroid/bin/classes.dex.d
/engine/KGEAndroid/bin/classes/com/kge/android/BuildConfig.class
/engine/KGEAndroid/bin/classes/com/kge/android/KGEAndroidActivity.class
/engine/KGEAndroid/bin/classes/com/kge/android/R$attr.class
/engine/KGEAndroid/bin/classes/com/kge/android/R$layout.class
/engine/KGEAndroid/bin/classes/com/kge/android/R$string.class
/engine/KGEAndroid/bin/classes/com/kge/android/R.class
/engine/KGEAndroid/bin/jarlist.cache
/engine/KGEAndroid/libs/armeabi/gdb.setup
/engine/KGEAndroid/libs/armeabi/gdbserver
/engine/KGEAndroid/libs/armeabi/libkge.so
/engine/KGEAndroid/libs/armeabi/libstlport_shared.so
/engine/KGEAndroid/obj/convert-dependencies.sh
/engine/KGEAndroid/obj/local/armeabi/libkge.so
/engine/KGEAndroid/obj/local/armeabi/libstlport_shared.so
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/Android.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/Android.o.d
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeMemoryTrack.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeMemoryTrack.o.d
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeMutex.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeMutex.o.d
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeNedmalloc.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeNedmalloc.o.d
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeThread.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/KgeThread.o.d
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/Logger.o
/engine/KGEAndroid/obj/local/armeabi/objs-debug/kge/__/__/KGEmain/Logger.o.d
/engine/KGEWebPlayer/Debug/CL.read.1.tlog
/engine/KGEWebPlayer/Debug/CL.write.1.tlog
/engine/KGEWebPlayer/Debug/InputMgrJava.obj
/engine/KGEWebPlayer/Debug/JavaImplement.obj
/engine/KGEWebPlayer/Debug/KGEWebPlayer.Build.CppClean.log
/engine/KGEWebPlayer/Debug/KGEWebPlayer.dll.embed.manifest
/engine/KGEWebPlayer/Debug/KGEWebPlayer.dll.embed.manifest.res
/engine/KGEWebPlayer/Debug/KGEWebPlayer.dll.intermediate.manifest
/engine/KGEWebPlayer/Debug/KGEWebPlayer.lastbuildstate
/engine/KGEWebPlayer/Debug/KGEWebPlayer.log
/engine/KGEWebPlayer/Debug/KGEWebPlayer.write.1.tlog
/engine/KGEWebPlayer/Debug/KGEWebPlayer_manifest.rc
/engine/KGEWebPlayer/Debug/WebPlayer.obj
/engine/KGEWebPlayer/Debug/cl.command.1.tlog
/engine/KGEWebPlayer/Debug/link-cvtres.read.1.tlog
/engine/KGEWebPlayer/Debug/link-cvtres.write.1.tlog
/engine/KGEWebPlayer/Debug/link.3608-cvtres.read.1.tlog
/engine/KGEWebPlayer/Debug/link.3608-cvtres.write.1.tlog
/engine/KGEWebPlayer/Debug/link.3608.read.1.tlog
/engine/KGEWebPlayer/Debug/link.3608.write.1.tlog
/engine/KGEWebPlayer/Debug/link.3736-cvtres.read.1.tlog
/engine/KGEWebPlayer/Debug/link.3736-cvtres.write.1.tlog
/engine/KGEWebPlayer/Debug/link.3736.read.1.tlog
/engine/KGEWebPlayer/Debug/link.3736.write.1.tlog
/engine/KGEWebPlayer/Debug/link.7396-cvtres.read.1.tlog
/engine/KGEWebPlayer/Debug/link.7396-cvtres.write.1.tlog
/engine/KGEWebPlayer/Debug/link.7396.read.1.tlog
/engine/KGEWebPlayer/Debug/link.7396.write.1.tlog
/engine/KGEWebPlayer/Debug/link.command.1.tlog
/engine/KGEWebPlayer/Debug/link.read.1.tlog
/engine/KGEWebPlayer/Debug/link.write.1.tlog
/engine/KGEWebPlayer/Debug/mt.command.1.tlog
/engine/KGEWebPlayer/Debug/mt.read.1.tlog
/engine/KGEWebPlayer/Debug/mt.write.1.tlog
/engine/KGEWebPlayer/Debug/rc.command.1.tlog
/engine/KGEWebPlayer/Debug/rc.read.1.tlog
/engine/KGEWebPlayer/Debug/rc.write.1.tlog
/engine/KGEWebPlayer/Debug/vc100.idb
/engine/KGEWebPlayer/Debug/vc100.pdb
/engine/Renderer_d3d9/Debug/CL.read.1.tlog
/engine/Renderer_d3d9/Debug/CL.write.1.tlog
/engine/Renderer_d3d9/Debug/RendererD3D9.obj
/engine/Renderer_d3d9/Debug/Renderer_d3d9.Build.CppClean.log
/engine/Renderer_d3d9/Debug/Renderer_d3d9.dll.embed.manifest
/engine/Renderer_d3d9/Debug/Renderer_d3d9.dll.embed.manifest.res
/engine/Renderer_d3d9/Debug/Renderer_d3d9.dll.intermediate.manifest
/engine/Renderer_d3d9/Debug/Renderer_d3d9.lastbuildstate
/engine/Renderer_d3d9/Debug/Renderer_d3d9.log
/engine/Renderer_d3d9/Debug/Renderer_d3d9.write.1.tlog
/engine/Renderer_d3d9/Debug/Renderer_d3d9_manifest.rc
/engine/Renderer_d3d9/Debug/cl.command.1.tlog
/engine/Renderer_d3d9/Debug/link-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.3520-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link.3520-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.3520.read.1.tlog
/engine/Renderer_d3d9/Debug/link.3520.write.1.tlog
/engine/Renderer_d3d9/Debug/link.5680-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link.5680-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.5680.read.1.tlog
/engine/Renderer_d3d9/Debug/link.5680.write.1.tlog
/engine/Renderer_d3d9/Debug/link.6244-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link.6244-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.6244.read.1.tlog
/engine/Renderer_d3d9/Debug/link.6244.write.1.tlog
/engine/Renderer_d3d9/Debug/link.9388-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link.9388-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.9388.read.1.tlog
/engine/Renderer_d3d9/Debug/link.9388.write.1.tlog
/engine/Renderer_d3d9/Debug/link.command.1.tlog
/engine/Renderer_d3d9/Debug/link.read.1.tlog
/engine/Renderer_d3d9/Debug/link.write.1.tlog
/engine/Renderer_d3d9/Debug/main.obj
/engine/Renderer_d3d9/Debug/mt.command.1.tlog
/engine/Renderer_d3d9/Debug/mt.read.1.tlog
/engine/Renderer_d3d9/Debug/mt.write.1.tlog
/engine/Renderer_d3d9/Debug/rc.command.1.tlog
/engine/Renderer_d3d9/Debug/rc.read.1.tlog
/engine/Renderer_d3d9/Debug/rc.write.1.tlog
/engine/Renderer_d3d9/Debug/vc100.idb
/engine/Renderer_d3d9/Debug/vc100.pdb
/engine/Renderer_d3d9/Renderer_d3d9.vcxproj.user
/engine/Renderer_ogl/Debug/CL.read.1.tlog
/engine/Renderer_ogl/Debug/CL.write.1.tlog
/engine/Renderer_ogl/Debug/RendererOGL.obj
/engine/Renderer_ogl/Debug/Renderer_ogl.Build.CppClean.log
/engine/Renderer_ogl/Debug/Renderer_ogl.dll.embed.manifest
/engine/Renderer_ogl/Debug/Renderer_ogl.dll.embed.manifest.res
/engine/Renderer_ogl/Debug/Renderer_ogl.dll.intermediate.manifest
/engine/Renderer_ogl/Debug/Renderer_ogl.lastbuildstate
/engine/Renderer_ogl/Debug/Renderer_ogl.log
/engine/Renderer_ogl/Debug/Renderer_ogl.write.1.tlog
/engine/Renderer_ogl/Debug/Renderer_ogl_manifest.rc
/engine/Renderer_ogl/Debug/cl.command.1.tlog
/engine/Renderer_ogl/Debug/initGL.obj
/engine/Renderer_ogl/Debug/link-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.10484-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.10484-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.10484.read.1.tlog
/engine/Renderer_ogl/Debug/link.10484.write.1.tlog
/engine/Renderer_ogl/Debug/link.4336-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.4336-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.4336.read.1.tlog
/engine/Renderer_ogl/Debug/link.4336.write.1.tlog
/engine/Renderer_ogl/Debug/link.4876-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.4876-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.4876.read.1.tlog
/engine/Renderer_ogl/Debug/link.4876.write.1.tlog
/engine/Renderer_ogl/Debug/link.6200-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.6200-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.6200.read.1.tlog
/engine/Renderer_ogl/Debug/link.6200.write.1.tlog
/engine/Renderer_ogl/Debug/link.6624-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.6624-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.6624.read.1.tlog
/engine/Renderer_ogl/Debug/link.6624.write.1.tlog
/engine/Renderer_ogl/Debug/link.7832-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.7832-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.7832.read.1.tlog
/engine/Renderer_ogl/Debug/link.7832.write.1.tlog
/engine/Renderer_ogl/Debug/link.8096-cvtres.read.1.tlog
/engine/Renderer_ogl/Debug/link.8096-cvtres.write.1.tlog
/engine/Renderer_ogl/Debug/link.8096.read.1.tlog
/engine/Renderer_ogl/Debug/link.8096.write.1.tlog
/engine/Renderer_ogl/Debug/link.command.1.tlog
/engine/Renderer_ogl/Debug/link.read.1.tlog
/engine/Renderer_ogl/Debug/link.write.1.tlog
/engine/Renderer_ogl/Debug/main.obj
/engine/Renderer_ogl/Debug/mt.command.1.tlog
/engine/Renderer_ogl/Debug/mt.read.1.tlog
/engine/Renderer_ogl/Debug/mt.write.1.tlog
/engine/Renderer_ogl/Debug/rc.command.1.tlog
/engine/Renderer_ogl/Debug/rc.read.1.tlog
/engine/Renderer_ogl/Debug/rc.write.1.tlog
/engine/Renderer_ogl/Debug/vc100.idb
/engine/Renderer_ogl/Debug/vc100.pdb
/engine/Renderer_ogl/Renderer_ogl.vcxproj.user
/tests/01 Logger test/01 Logger test.vcxproj.user
/tests/01 Logger test/Debug/01 Logger test.exe.embed.manifest
/tests/01 Logger test/Debug/01 Logger test.exe.embed.manifest.res
/tests/01 Logger test/Debug/01 Logger test.exe.intermediate.manifest
/tests/01 Logger test/Debug/01 Logger test.lastbuildstate
/tests/01 Logger test/Debug/01 Logger test.log
/tests/01 Logger test/Debug/01 Logger test_manifest.rc
/tests/01 Logger test/Debug/CL.read.1.tlog
/tests/01 Logger test/Debug/CL.write.1.tlog
/tests/01 Logger test/Debug/cl.command.1.tlog
/tests/01 Logger test/Debug/link-cvtres.read.1.tlog
/tests/01 Logger test/Debug/link-cvtres.write.1.tlog
/tests/01 Logger test/Debug/link.3608-cvtres.read.1.tlog
/tests/01 Logger test/Debug/link.3608-cvtres.write.1.tlog
/tests/01 Logger test/Debug/link.3608.read.1.tlog
/tests/01 Logger test/Debug/link.3608.write.1.tlog
/tests/01 Logger test/Debug/link.6120-cvtres.read.1.tlog
/tests/01 Logger test/Debug/link.6120-cvtres.write.1.tlog
/tests/01 Logger test/Debug/link.6120.read.1.tlog
/tests/01 Logger test/Debug/link.6120.write.1.tlog
/tests/01 Logger test/Debug/link.7092-cvtres.read.1.tlog
/tests/01 Logger test/Debug/link.7092-cvtres.write.1.tlog
/tests/01 Logger test/Debug/link.7092.read.1.tlog
/tests/01 Logger test/Debug/link.7092.write.1.tlog
/tests/01 Logger test/Debug/link.command.1.tlog
/tests/01 Logger test/Debug/link.read.1.tlog
/tests/01 Logger test/Debug/link.write.1.tlog
/tests/01 Logger test/Debug/main.obj
/tests/01 Logger test/Debug/mt.command.1.tlog
/tests/01 Logger test/Debug/mt.read.1.tlog
/tests/01 Logger test/Debug/mt.write.1.tlog
/tests/01 Logger test/Debug/rc.command.1.tlog
/tests/01 Logger test/Debug/rc.read.1.tlog
/tests/01 Logger test/Debug/rc.write.1.tlog
/tests/01 Logger test/Debug/vc100.idb
/tests/01 Logger test/Debug/vc100.pdb
/tests/02 Memory test/02 Memory test.sdf
/tests/02 Memory test/02 Memory test.suo
/tests/02 Memory test/02 Memory test.vcxproj.user
/tests/02 Memory test/Debug/02 Memory test.exe.embed.manifest
/tests/02 Memory test/Debug/02 Memory test.exe.embed.manifest.res
/tests/02 Memory test/Debug/02 Memory test.exe.intermediate.manifest
/tests/02 Memory test/Debug/02 Memory test.lastbuildstate
/tests/02 Memory test/Debug/02 Memory test.log
/tests/02 Memory test/Debug/02 Memory test_manifest.rc
/tests/02 Memory test/Debug/CL.read.1.tlog
/tests/02 Memory test/Debug/CL.write.1.tlog
/tests/02 Memory test/Debug/cl.command.1.tlog
/tests/02 Memory test/Debug/link-cvtres.read.1.tlog
/tests/02 Memory test/Debug/link-cvtres.write.1.tlog
/tests/02 Memory test/Debug/link.2888-cvtres.read.1.tlog
/tests/02 Memory test/Debug/link.2888-cvtres.write.1.tlog
/tests/02 Memory test/Debug/link.2888.read.1.tlog
/tests/02 Memory test/Debug/link.2888.write.1.tlog
/tests/02 Memory test/Debug/link.5948-cvtres.read.1.tlog
/tests/02 Memory test/Debug/link.5948-cvtres.write.1.tlog
/tests/02 Memory test/Debug/link.5948.read.1.tlog
/tests/02 Memory test/Debug/link.5948.write.1.tlog
/tests/02 Memory test/Debug/link.5964-cvtres.read.1.tlog
/tests/02 Memory test/Debug/link.5964-cvtres.write.1.tlog
/tests/02 Memory test/Debug/link.5964.read.1.tlog
/tests/02 Memory test/Debug/link.5964.write.1.tlog
/tests/02 Memory test/Debug/link.7136-cvtres.read.1.tlog
/tests/02 Memory test/Debug/link.7136-cvtres.write.1.tlog
/tests/02 Memory test/Debug/link.7136.read.1.tlog
/tests/02 Memory test/Debug/link.7136.write.1.tlog
/tests/02 Memory test/Debug/link.command.1.tlog
/tests/02 Memory test/Debug/link.read.1.tlog
/tests/02 Memory test/Debug/link.write.1.tlog
/tests/02 Memory test/Debug/main.obj
/tests/02 Memory test/Debug/mt.command.1.tlog
/tests/02 Memory test/Debug/mt.read.1.tlog
/tests/02 Memory test/Debug/mt.write.1.tlog
/tests/02 Memory test/Debug/rc.command.1.tlog
/tests/02 Memory test/Debug/rc.read.1.tlog
/tests/02 Memory test/Debug/rc.write.1.tlog
/tests/02 Memory test/Debug/vc100.idb
/tests/02 Memory test/Debug/vc100.pdb
/tests/02 Memory test/ipch/02 memory test-5494b95/02 memory test-94872bc7.ipch
/tests/03 d3d9 plugin test/03 d3d9 plugin test.vcxproj.user
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test.exe.embed.manifest
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test.exe.embed.manifest.res
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test.exe.intermediate.manifest
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test.lastbuildstate
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test.log
/tests/03 d3d9 plugin test/Debug/03 d3d9 plugin test_manifest.rc
/tests/03 d3d9 plugin test/Debug/CL.read.1.tlog
/tests/03 d3d9 plugin test/Debug/CL.write.1.tlog
/tests/03 d3d9 plugin test/Debug/cl.command.1.tlog
/tests/03 d3d9 plugin test/Debug/link-cvtres.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link-cvtres.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.4976-cvtres.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.4976-cvtres.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.4976.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.4976.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6420-cvtres.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6420-cvtres.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6420.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6420.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6832-cvtres.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6832-cvtres.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6832.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.6832.write.1.tlog
/tests/03 d3d9 plugin test/Debug/link.command.1.tlog
/tests/03 d3d9 plugin test/Debug/link.read.1.tlog
/tests/03 d3d9 plugin test/Debug/link.write.1.tlog
/tests/03 d3d9 plugin test/Debug/main.obj
/tests/03 d3d9 plugin test/Debug/mt.command.1.tlog
/tests/03 d3d9 plugin test/Debug/mt.read.1.tlog
/tests/03 d3d9 plugin test/Debug/mt.write.1.tlog
/tests/03 d3d9 plugin test/Debug/rc.command.1.tlog
/tests/03 d3d9 plugin test/Debug/rc.read.1.tlog
/tests/03 d3d9 plugin test/Debug/rc.write.1.tlog
/tests/03 d3d9 plugin test/Debug/vc100.idb
/tests/03 d3d9 plugin test/Debug/vc100.pdb
/tests/04 Device init test/04 Device init test.vcxproj.user
/tests/04 Device init test/Debug/04 Device init test.exe.embed.manifest
/tests/04 Device init test/Debug/04 Device init test.exe.embed.manifest.res
/tests/04 Device init test/Debug/04 Device init test.exe.intermediate.manifest
/tests/04 Device init test/Debug/04 Device init test.lastbuildstate
/tests/04 Device init test/Debug/04 Device init test.log
/tests/04 Device init test/Debug/04 Device init test_manifest.rc
/tests/04 Device init test/Debug/CL.read.1.tlog
/tests/04 Device init test/Debug/CL.write.1.tlog
/tests/04 Device init test/Debug/cl.command.1.tlog
/tests/04 Device init test/Debug/link-cvtres.read.1.tlog
/tests/04 Device init test/Debug/link-cvtres.write.1.tlog
/tests/04 Device init test/Debug/link.1172-cvtres.read.1.tlog
/tests/04 Device init test/Debug/link.1172-cvtres.write.1.tlog
/tests/04 Device init test/Debug/link.1172.read.1.tlog
/tests/04 Device init test/Debug/link.1172.write.1.tlog
/tests/04 Device init test/Debug/link.548-cvtres.read.1.tlog
/tests/04 Device init test/Debug/link.548-cvtres.write.1.tlog
/tests/04 Device init test/Debug/link.548.read.1.tlog
/tests/04 Device init test/Debug/link.548.write.1.tlog
/tests/04 Device init test/Debug/link.6272-cvtres.read.1.tlog
/tests/04 Device init test/Debug/link.6272-cvtres.write.1.tlog
/tests/04 Device init test/Debug/link.6272.read.1.tlog
/tests/04 Device init test/Debug/link.6272.write.1.tlog
/tests/04 Device init test/Debug/link.command.1.tlog
/tests/04 Device init test/Debug/link.read.1.tlog
/tests/04 Device init test/Debug/link.write.1.tlog
/tests/04 Device init test/Debug/main.obj
/tests/04 Device init test/Debug/mt.command.1.tlog
/tests/04 Device init test/Debug/mt.read.1.tlog
/tests/04 Device init test/Debug/mt.write.1.tlog
/tests/04 Device init test/Debug/rc.command.1.tlog
/tests/04 Device init test/Debug/rc.read.1.tlog
/tests/04 Device init test/Debug/rc.write.1.tlog
/tests/04 Device init test/Debug/vc100.idb
/tests/04 Device init test/Debug/vc100.pdb
/tests/05 wep application test/05 wep application test.vcxproj.user
/tests/05 wep application test/Debug/05 wep application test.dll.embed.manifest
/tests/05 wep application test/Debug/05 wep application test.dll.embed.manifest.res
/tests/05 wep application test/Debug/05 wep application test.dll.intermediate.manifest
/tests/05 wep application test/Debug/05 wep application test.lastbuildstate
/tests/05 wep application test/Debug/05 wep application test.log
/tests/05 wep application test/Debug/05 wep application test.write.1.tlog
/tests/05 wep application test/Debug/05 wep application test_manifest.rc
/tests/05 wep application test/Debug/CL.read.1.tlog
/tests/05 wep application test/Debug/CL.write.1.tlog
/tests/05 wep application test/Debug/cl.command.1.tlog
/tests/05 wep application test/Debug/link-cvtres.read.1.tlog
/tests/05 wep application test/Debug/link-cvtres.write.1.tlog
/tests/05 wep application test/Debug/link.3844-cvtres.read.1.tlog
/tests/05 wep application test/Debug/link.3844-cvtres.write.1.tlog
/tests/05 wep application test/Debug/link.3844.read.1.tlog
/tests/05 wep application test/Debug/link.3844.write.1.tlog
/tests/05 wep application test/Debug/link.4132-cvtres.read.1.tlog
/tests/05 wep application test/Debug/link.4132-cvtres.write.1.tlog
/tests/05 wep application test/Debug/link.4132.read.1.tlog
/tests/05 wep application test/Debug/link.4132.write.1.tlog
/tests/05 wep application test/Debug/link.command.1.tlog
/tests/05 wep application test/Debug/link.read.1.tlog
/tests/05 wep application test/Debug/link.write.1.tlog
/tests/05 wep application test/Debug/main.obj
/tests/05 wep application test/Debug/mt.command.1.tlog
/tests/05 wep application test/Debug/mt.read.1.tlog
/tests/05 wep application test/Debug/mt.write.1.tlog
/tests/05 wep application test/Debug/rc.command.1.tlog
/tests/05 wep application test/Debug/rc.read.1.tlog
/tests/05 wep application test/Debug/rc.write.1.tlog
/tests/05 wep application test/Debug/vc100.idb
/tests/05 wep application test/Debug/vc100.pdb
/tests/06 test Input Manager plugin/06 test Input Manager plugin.sdf
/tests/06 test Input Manager plugin/06 test Input Manager plugin.suo
/tests/06 test Input Manager plugin/06 test Input Manager plugin.vcxproj.user
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.Build.CppClean.log
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.exe.embed.manifest
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.exe.embed.manifest.res
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.exe.intermediate.manifest
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.lastbuildstate
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin.log
/tests/06 test Input Manager plugin/Debug/06 test Input Manager plugin_manifest.rc
/tests/06 test Input Manager plugin/Debug/CL.read.1.tlog
/tests/06 test Input Manager plugin/Debug/CL.write.1.tlog
/tests/06 test Input Manager plugin/Debug/cl.command.1.tlog
/tests/06 test Input Manager plugin/Debug/link-cvtres.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link-cvtres.write.1.tlog
/tests/06 test Input Manager plugin/Debug/link.6248-cvtres.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link.6248-cvtres.write.1.tlog
/tests/06 test Input Manager plugin/Debug/link.6248.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link.6248.write.1.tlog
/tests/06 test Input Manager plugin/Debug/link.904-cvtres.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link.904-cvtres.write.1.tlog
/tests/06 test Input Manager plugin/Debug/link.904.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link.904.write.1.tlog
/tests/06 test Input Manager plugin/Debug/link.command.1.tlog
/tests/06 test Input Manager plugin/Debug/link.read.1.tlog
/tests/06 test Input Manager plugin/Debug/link.write.1.tlog
/tests/06 test Input Manager plugin/Debug/main.obj
/tests/06 test Input Manager plugin/Debug/mt.command.1.tlog
/tests/06 test Input Manager plugin/Debug/mt.read.1.tlog
/tests/06 test Input Manager plugin/Debug/mt.write.1.tlog
/tests/06 test Input Manager plugin/Debug/rc.command.1.tlog
/tests/06 test Input Manager plugin/Debug/rc.read.1.tlog
/tests/06 test Input Manager plugin/Debug/rc.write.1.tlog
/tests/06 test Input Manager plugin/Debug/vc100.idb
/tests/06 test Input Manager plugin/Debug/vc100.pdb
/tests/06 test Input Manager plugin/Release/06 test Input Manager plugin.exe.intermediate.manifest
/tests/06 test Input Manager plugin/Release/06 test Input Manager plugin.lastbuildstate
/tests/06 test Input Manager plugin/Release/06 test Input Manager plugin.log
/tests/06 test Input Manager plugin/Release/CL.read.1.tlog
/tests/06 test Input Manager plugin/Release/CL.write.1.tlog
/tests/06 test Input Manager plugin/Release/cl.command.1.tlog
/tests/06 test Input Manager plugin/Release/link.command.1.tlog
/tests/06 test Input Manager plugin/Release/link.read.1.tlog
/tests/06 test Input Manager plugin/Release/link.write.1.tlog
/tests/06 test Input Manager plugin/Release/main.obj
/tests/06 test Input Manager plugin/Release/mt.command.1.tlog
/tests/06 test Input Manager plugin/Release/mt.read.1.tlog
/tests/06 test Input Manager plugin/Release/mt.write.1.tlog
/tests/06 test Input Manager plugin/Release/vc100.pdb
/tests/07 ogl plugin test/07 ogl plugin test.vcxproj.user
/tests/07 ogl plugin test/Debug/07 ogl plugin test.exe.embed.manifest
/tests/07 ogl plugin test/Debug/07 ogl plugin test.exe.embed.manifest.res
/tests/07 ogl plugin test/Debug/07 ogl plugin test.exe.intermediate.manifest
/tests/07 ogl plugin test/Debug/07 ogl plugin test.lastbuildstate
/tests/07 ogl plugin test/Debug/07 ogl plugin test.log
/tests/07 ogl plugin test/Debug/07 ogl plugin test_manifest.rc
/tests/07 ogl plugin test/Debug/CL.read.1.tlog
/tests/07 ogl plugin test/Debug/CL.write.1.tlog
/tests/07 ogl plugin test/Debug/cl.command.1.tlog
/tests/07 ogl plugin test/Debug/link-cvtres.read.1.tlog
/tests/07 ogl plugin test/Debug/link-cvtres.write.1.tlog
/tests/07 ogl plugin test/Debug/link.2912-cvtres.read.1.tlog
/tests/07 ogl plugin test/Debug/link.2912-cvtres.write.1.tlog
/tests/07 ogl plugin test/Debug/link.2912.read.1.tlog
/tests/07 ogl plugin test/Debug/link.2912.write.1.tlog
/tests/07 ogl plugin test/Debug/link.3136-cvtres.read.1.tlog
/tests/07 ogl plugin test/Debug/link.3136-cvtres.write.1.tlog
/tests/07 ogl plugin test/Debug/link.3136.read.1.tlog
/tests/07 ogl plugin test/Debug/link.3136.write.1.tlog
/tests/07 ogl plugin test/Debug/link.6816-cvtres.read.1.tlog
/tests/07 ogl plugin test/Debug/link.6816-cvtres.write.1.tlog
/tests/07 ogl plugin test/Debug/link.6816.read.1.tlog
/tests/07 ogl plugin test/Debug/link.6816.write.1.tlog
/tests/07 ogl plugin test/Debug/link.command.1.tlog
/tests/07 ogl plugin test/Debug/link.read.1.tlog
/tests/07 ogl plugin test/Debug/link.write.1.tlog
/tests/07 ogl plugin test/Debug/main.obj
/tests/07 ogl plugin test/Debug/mt.command.1.tlog
/tests/07 ogl plugin test/Debug/mt.read.1.tlog
/tests/07 ogl plugin test/Debug/mt.write.1.tlog
/tests/07 ogl plugin test/Debug/rc.command.1.tlog
/tests/07 ogl plugin test/Debug/rc.read.1.tlog
/tests/07 ogl plugin test/Debug/rc.write.1.tlog
/tests/07 ogl plugin test/Debug/vc100.idb
/tests/07 ogl plugin test/Debug/vc100.pdb
/engine/KGE10/ipch/kge10-a2f271e3/.gitignore
/engine/KGE10/ipch/renderer_d3d9-e8546ec7/renderer_d3d9-51b15776.ipch
/engine/KGEWebPlayer/Debug/.gitignore
/engine/Renderer_d3d9/Debug/.gitignore
/engine/Renderer_d3d9/Debug/link.7512-cvtres.read.1.tlog
/engine/Renderer_d3d9/Debug/link.7512-cvtres.write.1.tlog
/engine/Renderer_d3d9/Debug/link.7512.read.1.tlog
/engine/Renderer_d3d9/Debug/link.7512.write.1.tlog
/docs/html/installdox
/docs/html/jquery.js
/docs/html/navtree.js
/docs/html/resize.js
/engine/InputMgr_OIS/Debug/InputMgr_OIS.unsuccessfulbuild
/engine/KGE10/Debug/KGE10.unsuccessfulbuild
/engine/KGE10/ipch/09filesystemtest-2b49d310/09filesystemtest-da26a0ba.ipch
/engine/KGE10/ipch/kge10-7a8d65e7/kge-2148c843.ipch
/engine/KGEWebPlayer/Debug/KGEWebPlayer.unsuccessfulbuild
/engine/Loader_OGRE/Debug/Loader_OGRE.lastbuildstate
/engine/Loader_OGRE/Debug/Loader_OGRE.unsuccessfulbuild
/engine/Loader_OGRE/Debug/vc100.idb
/engine/Loader_OGRE/Debug/vc100.pdb
/engine/Loader_OGRE/Loader_OGRE.vcxproj.filters
/engine/Loader_OGRE/Loader_OGRE.vcxproj.user
/tests/05 wep application test/Debug/05 wep application test.unsuccessfulbuild
/tests/09FileSystemTest/09FileSystemTest.vcxproj.user
/tests/09FileSystemTest/Debug/09FileSystemTest.exe.embed.manifest
/tests/09FileSystemTest/Debug/09FileSystemTest.exe.embed.manifest.res
/tests/09FileSystemTest/Debug/09FileSystemTest.exe.intermediate.manifest
/tests/09FileSystemTest/Debug/09FileSystemTest.lastbuildstate
/tests/09FileSystemTest/Debug/09FileSystemTest_manifest.rc
/tests/09FileSystemTest/Debug/vc100.idb
/tests/09FileSystemTest/Debug/vc100.pdb